body {
  font-family: "Roboto" sans-serif;
  color: #434455;
}

.page-title {
  background-color: #2e2f42;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

a {
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.logo-studio,
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.66;
  letter-spacing: 0.03em;
}

address a {
  font-style: normal;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1 {
  text-align: center;
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.0714;
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
}

.page-nav a {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

button:hover {
  background-color: #404bbf;
}

address a:hover,
.page-nav a:hover,
.page-nav a:active {
  color: #404bbf;
}

ul,
ol {
  list-style-type: none;
}

.team-inner {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
}

.team h3,
.team p {
  text-align: center;
}

.team p {
  color: #434455;
  font-size: 16px;
}

.team h3,
.portfolio h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team p,
.portfolio p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team li {
  width: 264;
  height: 380;
  border: 1px;
  background-color: white;
}

.portfolio-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

footer {
  background-color: #2e2f42;
}

.footer-logo-web {
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}
.footer-logo-studio,
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.66;
  letter-spacing: 0.03em;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}
